body {
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
.header {
    padding: 20px 0px 20px 0px;
    border-bottom: 3px solid rgb(63, 42, 255);
}
.container {
    width: 100%;
}
.header_all {
    display: flex;
    justify-content: space-between;
    margin: 0px 20px 0px 20px;
}
.header-right {
    display: flex;
    align-items: center;
}
.header-left {
    display: flex;
    align-items: center;
}
.header_link {
    margin-left: 40px;
    text-decoration: none;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: 600;
}
.tel {
    margin-right: 20px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.button {
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 13px;
    background-color: rgb(203, 247, 239);
    color: rgb(0, 0, 0);
    font-weight: 600;
    cursor: pointer;
}
.button:hover {
    background-color: rgb(246, 255, 83);
    transition: all .3s linear;
}
/* Main */
.man {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    max-height: 100%;
    max-width: 100%;
    vertical-align: top;
}
.main_in {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.main_left {
    width: 50%;
}
.main_right {
    width: 50%;
    height: 500px;
    position: relative;
}
.main_h {
    font-size: 48px;
    margin-left: 50px;
}
.main_p {
    font-size: 18px;
    margin-left: 50px;
    margin-top: -20px;
}
.button_main {
    background-color: rgb(203, 247, 239);
    color: rgb(0, 0, 0);
    font-weight: 600;
    margin-left: 50px;
    margin-top: 30px;
}

/* What i Do? */
.doit_main {
    display: flex;
    flex-wrap: nowrap;
    margin: 50px 0px 20px 0px;
}
.img_doit {
    width: 75%;
}
.doit_block {
    width: 25%;
    padding: 0px 50px;
}
.doit_text_main {
    padding: 0 50px;
}
.doit_text {
    font-size: 14px;
    align-self: center;
}
.btn_doit {
    margin-left: 50px;
    margin-bottom: 100px;
}

/* Works */
.works_main {
    display: flex;
    flex-wrap: nowrap;
    margin: 50px 0px 20px 0px;
}
.works_block {
    width: 33%;
    padding: 0px 50px;
}
.img_works {
    width: 100%;
}

/* Display */
.dp_main {
    background-color: rgb(63, 42, 255);
}
.dp_text_m {
    padding-top: 100px;
    padding-left: 50px;
    font-size: 32px;
    font-weight: 600;
    width: 50%;
    color: white;
}
.dp_text_p {
    margin-top: 50px;
    padding-left: 50px;
    padding-bottom: 150px;
    font-size: 12px;
    width: 50%;
    color: white;
}

/* Footer */
.footer_inner {
    display: flex;
}
.footer_block {
    padding: 50px 0px;
    width: 33.33333%;
    text-align: center;
}
.footer_link {
    display: flex;
    flex-wrap: wrap;   
    padding-left: 160px;
    padding-bottom: 30px;
    text-decoration: none;
    font-size: 16px;
    color: rgb(0, 0, 0);
}
.img_cs {
    height: 15px;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
}
.img_cs:last-child {
    margin-right: 0px;
}
.footer_link_2 {
    display: block;
    margin-bottom: 30px;
    text-decoration: none;
    font-size: 16px;
    color: rgb(0, 0, 0);
}
.footer_block_cs {
    padding-top: 50px;
    
}
.contacts {
    margin-top: 30px;
    justify-content: center;
}
/* Burger */
.burger {
    display: none;
    padding: 9px 2px;

    background: none;
    border: none;
    cursor: pointer;
}

.burger__item {
    display: block;
    width: 28px;
    height: 3px;

    background-color: black;

    font-size: 0;
    color: black;

    position: relative;
}

.burger__item:before,
.burger__item:after {
    content: "";
    height: 100%;

    background-color: black;

    position: absolute;
    right: 0;
    z-index: 1;
}
.burger__item:before {
    top: -8px;
    width: 28px;
}
.burger__item:after {
    bottom: -8px;
    width: 28px;
}

/* Media */

@media (max-width: 1024px) {
    .dp_text_m {
        font-size: 24px;
        padding-top: 30px;
    }
    .dp_text_p {
        padding-bottom: 50px;
    }
    .btn_doit {
        margin-bottom: 50px;
    }
    .footer_link {
        padding-left: 115px;
    }
}

@media (max-width: 768px) {
    .header-left {
        display: none;
    }
    .burger {
        display: block;
    }
    .main_right {
        height: 350px;
    }
    .img_doit {
        width: 80px;
    }
    .doit_block {
        padding: 0px 30px 0px 50px;
    }
    .doit_text {
        width: 110px;
    }
    .dp_text_m {
        font-size: 23px;
        width: 80%;
    }
    .dp_text_p {
        width: 66%;
    }
    .footer_link {
        padding-left: 100px;
        font-size: 14px;
    }
    .footer_link_2 {
        font-size: 14px;
    }
    .doit_text_main {
        font-size: 24px;
    }
    .header_link {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .doit_main {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .works_main {
        flex-wrap: wrap;
        width: 101%;
        justify-content: center;
    }
    .main_in {
        display: flex;
    }
    .main_left {
        width: 100%;
        order: 2;
    }
    .main_right {
        width: 100%;
        order: 1;
    }
    .main_right img {
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    .man {
        position: initial;
        transform: none;
    }
    .main_h {
        text-align: center;
        margin-left: 0px;
    }
    .main_p {
        text-align: center;
        margin-left: 0px;
        margin-top: 0px;
    }
    .doit_text_main {
        margin-top: 30px;
    }
    .footer_link {
        padding-left: 65px;
    }
}

@media (max-width: 420px) {
    .footer_link {
        padding-left: 25px;
        font-size: 12px;
    }
    .footer_link_2 {
        font-size: 12px;
    }
    .btn_footer {
        padding: 5px 10px;
        font-size: 12px;
    }
    .img_cs {
        margin-right: 6px;
        margin-bottom: 5px;
    }
}